| img_src = '#{@play.game.image.thumb.url}';
| title = '#{@play.date} | #{@play.game_name}';
| link_url = '#{add_review_path(@play.id)}';
| $template = $('#project-template').clone(true);
| $template.find('img.thumbnailImage').prop('src', img_src);
| $template.find('h4').text(title);
| $template.find('a.review-link').prop('href', link_url);
| $template.prepend($('<img/>').prop('src', '#{asset_path 'new.png'}'));
| $template.prop('id', '');
| $template.removeClass('hide');
| $('div.play-history').prepend($template);
| $('select#play_game_id').val('')
